<table class="mb-3 w-100">
  <% if users.size == 0 %>
    <tr>
      <% if tab == "following" %>
        <td><%= @viewingSelf ? "You aren't" : "#{@user.username} isn't"%> following anyone!</td>
      <% else %>
        <td><%= @viewingSelf ? "You don't have" : "#{@user.username} doesn't have"%> any followers!</td>
      <% end %>
    </tr>
  <% else %>
    <% users.each do |f| %>
      <tr>
        <td><%= (tab == "following") ? f.getUsernameTarget : f.getUsernameOrigin %></td>
        <td class="text-end d-flex justify-content-end">
          <%= button_to "Profile", 
            user_path((tab == "following") ? f.follows : f.user),
            method: :get, class: "btn btn-primary btn-sm" %>
          <% if @user.canModify %>
            <%= button_to (tab == "following") ? "Unfollow" : "Remove",
              "/follows/#{(tab == "following") ? f.follows : f.user}",
              method: :delete, class: "btn btn-danger btn-sm ml-2" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if users.size < 10 %>
      <% (10-users.size).times do %>
        <tr class="borderless-cell" style="visibility: hidden;"><td class="borderless-cell" style="visibility: hidden;">blank</td></tr>
      <% end %>
    <% end %>
  <% end %>
</table>
<div class="flex-grow-1"></div>
<div class="d-flex justify-content-center">
  <%= paginate users, param_name: (tab == "following") ? :following_page : :followers_page,
                :params => { :tab => tab },
                theme: 'bootstrap-5',
                pagination_class: "pagination-sm flex-wrap justify-content-center",
                nav_class: "d-inline-block"
  %>
</div>
<% if @editable && tab == "following" %>
  <div class="">
    <div class="d-flex align-items-baseline">
      <div class="mr-2">
        <h6 class="px-2">Follow user:</h6>
      </div>
      <div>
        <%= form_with(url: follows_path(Follow.new), method: :post) do |f| %>
          <div class="field form-floating mb-3">
            <%= f.text_field :username, class: "form-control", placeholder: "username" %>
            <%= f.label :username %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>