<div>
  <p><%= @user.username %> joined SPO
    <% if (Time.now - @user.created_at) >= 2.days %>
      on
    <% end %>
    <%= formatTime(@user.created_at) %>.
  </p>
  <p>They have created <%= @fmodels.size %> models.</p>
  
  <hr>

  <% if current_user.present? %>
    <% if @isUserFollowingTarget %>
      <p>You started following <%= @user.username %>
        <% if (Time.now - @isUserFollowingTarget.created_at) >= 2.days %>
          on
        <% end %>
        <%= formatTime(@isUserFollowingTarget.created_at) %>.
      </p>
    <% else %>
      <p>You aren't following <%= @user.username %>.</p>
        <%# <% if !@viewingSelf && !@isUserFollowingTarget && current_user.present? %>
      <%= button_to "Follow", follows_path, method: :post, params: { id: @user.id }, class: "btn btn-primary btn-sm" %>
          <%# <% end %>
    <% end %>

    <% if @isTargetFollowingUser %>
      <p><%= @user.username %> follows you<%= @isUserFollowingTarget ? " back" : ""%>!</p>
    <% end %>
  <% else %>
    <p>Join SPO to follow <%= @user.username %>.</p>
  <% end %>
  
  <hr>
  
</div>