<div class="w-100 user-page h-100">
  <div id="userInfo" class="h-100">
    <%# display user info & allow them to update their details %>
    <div class="d-flex h-100">
      <div class="d-flex h-100 flex-column w-25">
        <div class="d-flex justify-content-between">
          <h5 class="mt-1">Account details:</h5>
          <% if @user.canModify %>
            <button class="btn btn-primary btn-sm" id="edit-button" onclick="toggleEdit()">Edit details</button>
          <% end %>
        </div>
        
        <hr class="my-2">

        <% if @user.canModify %>
          <%= render "edit" %>
        <% else %>
          <%= render "stats" %>
        <% end %>
      </div>

      <div class="d-flex flex-column pl-2 ml-2 w-50 border-start border-black">
        <div class="d-flex justify-content-between align-items-baseline">
          <h5 class="mt-1"><%= @viewingSelf ? "My" : "#{@user.username}'s"%> models:</h5>
          <% if @fmodels.size != 0 %>
            <h6><%=@fmodels.size %> in total.</h6>
          <% end %>
        </div>

        <%= render "fmodels/tabulated", origin: "user", user: @user, editable: @editable %>

      </div>

      <div class="d-flex flex-column pl-2 ml-2 w-25 border-start border-black">
        <div class="d-flex justify-content-between w-100 mb-2">
          <ul class="nav nav-pills nav-fill flex-sm-row w-100" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link <%= "active" if @activeTab == "following" %>" id="following-tab" data-bs-toggle="tab"
                data-bs-target="#following" type="button" role="tab" aria-controls="following"
                aria-selected="true">
                <%= "#{@followingTotal} " %>Following:</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link <%= "active" if @activeTab == "followers" %>" id="followers-tab" data-bs-toggle="tab"
                data-bs-target="#followers" type="button" role="tab" aria-controls="followers"
                aria-selected="false">
                <%= "#{@followersTotal} "%>Followers:</a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade <%= "show active" if @activeTab == "following" %>" id="following" role="tabpanel" aria-labelledby="following-tab">
            <%= render "followers", tab: "following", users: @following %>
          </div>

          <div class="tab-pane fade <%= "show active" if @activeTab == "followers" %>" id="followers" role="tabpanel" aria-labelledby="followers-tab">
            <%= render "followers", tab: "followers", users: @followers %> 
          </div>
        </div>
    </div>
  </div>

</div>

<script>
  function toggleEdit() {
    console.log("Toggling editable details");

    button = document.getElementById("edit-button");

    
    let emailUname = [
      document.getElementById("user_email"),                        // email
      document.getElementById("user_username")                      // uname
    ];

    let emailUnameDefaultVals = [
      "<%= @user.email %>",
      "<%= @user.username %>"
    ];

    let emailUnameLabels = [
      document.getElementById("user_email_label"),                  // emailLabel
      document.getElementById("user_username_label")                // unameLabel
    ];
    
    // fields to hide
    let fields = [
      document.getElementById("user_password"),                     // pass 
      document.getElementById("user_password_confirmation"),        // passConf      
      document.getElementById("user_current_password")              // currentPass
    ];

    // labels
    let labels = [
      document.getElementById("user_password_label"),               // passLabel
      document.getElementById("user_password_confirmation_label"),  // passConfLabel
      document.getElementById("user_current_password_label")        // currentPassLabel
    ];

    let decorators = [
      document.getElementById("submit"),            // submit button
      document.getElementById("delete"),            // delete button
      document.getElementById("separator1"),        // upper <hr>
      document.getElementById("separator2"),        // lower <hr>
      document.getElementById("passwordHelp"),      // password change message
      document.getElementById("confirm")            // need pass to confirm message
    ]

    // are they currently editable?
    if (button.textContent == "Edit details") {
      console.log("Currently hidden. Showing...");
      
      for (var i in fields) {
        labels[i].hidden = false;
        fields[i].hidden = false;
        fields[i].disabled = false;
      }

      emailUname.forEach(field => {
        field.disabled = false;
      });

      for (var i in decorators) {
        decorators[i].hidden = false;
        decorators[i].style.display = "block";
        decorators[i].disabled = false;
      }

      // submitButton.hidden = false;
      // separatorTop.style.display = "block";
      // separatorBottom.style.display = "block";

      button.textContent = "Cancel"
      button.classList.remove("btn-primary");
      button.classList.add("btn-warning");

    } else {
      console.log("Currently shown. Hiding...");
      
      for (var i in fields) {
        labels[i].hidden = true;
        fields[i].hidden = true;
        fields[i].disabled = true;
        fields[i].value = '';
      }
      
      for (var i in emailUname){
        emailUname[i].disabled = true;
        emailUname[i].value = emailUnameDefaultVals[i];
      }

      for (var i in decorators) {
        decorators[i].hidden = true;
        decorators[i].style.display = "none";
        decorators[i].disabled = true;
      }

      // submitButton.hidden = true;
      // separatorTop.style.display = "none";
      // separatorBottom.style.display = "none";

      button.textContent = "Edit details"
      button.classList.remove("btn-warning");
      button.classList.add("btn-primary");
    }
  }
</script>