<div class="w-100 user-page h-100">
  <div id="userInfo" class="h-100">
    <%# display user info & allow them to update their details %>
    <div class="d-flex h-100">
      <div class="d-flex h-100 flex-column w-25">
        <div class="d-flex justify-content-between">
          <h5 class="mt-1">Account details:</h5>
          <% if @user.canModify %>
            <button class="btn btn-primary btn-sm" id="edit-button" onclick="toggleEdit()">Edit details</button>
          <% end %>
        </div>
        
        <hr class="my-2">

        <% if @user.canModify %>
          <%= render "edit" %>
        <% else %>
          <%= render "stats" %>
        <% end %>
      </div>

      <div class="d-flex flex-column pl-2 ml-2 w-50 border-start border-black">
        <h5 class="mt-1"><%= @viewingSelf ? "My" : "#{@user.username}'s"%> models:</h5>

        <%= render "fmodels/tabulated", origin: "user", user: @user, editable: @editable %>

      </div>

      <div class="d-flex flex-column pl-2 ml-2 w-25 border-start border-black">
        <div class="d-flex justify-content-between">
          <h5 class="mt-1">Following:</h5>
          <% if !@viewingSelf && !@isUserFollowingTarget && current_user.present? %>
            <%= button_to "Follow", follows_path, method: :post, params: { id: @user.id }, class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
        <table class="mb-3">
          <% if @following.size == 0 %>
            <tr>
              <td><%= @viewingSelf ? "You aren't" : "#{@user.username} isn't"%> following anyone!</td>
            </tr>
          <% else %>
            <% @following.each do |f| %>
              <tr>
                <td><%= f.getUsername %></td>
                <td class="text-end d-flex justify-content-end">
                  <%= button_to "Profile", user_path(f.follows), method: :get, class: "btn btn-primary btn-sm" %>
                  <% if @user.canModify %>
                    <%= button_to "Unfollow", "/follows/#{f.follows}", method: :delete, class: "btn btn-danger btn-sm ml-2" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <div class="flex-grow-1"></div>
        <div class="d-flex justify-content-center">
          <%= paginate @following, param_name: :following_page,
                        theme: 'bootstrap-5',
                        pagination_class: "pagination-sm flex-wrap justify-content-center",
                        nav_class: "d-inline-block"
          %>
        </div>
        <% if @editable %>
          <div class="">
            <div class="d-flex align-items-baseline">
              <div class="mr-2">
                <h6 class="px-2">Follow user:</h6>
              </div>
              <div>
                <%= form_with(url: follows_path(Follow.new), method: :post) do |f| %>
                  <div class="field form-floating mb-3">
                    <%= f.text_field :username, class: "form-control", placeholder: "username" %>
                    <%= f.label :username %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>

<script>
  function toggleEdit() {
    console.log("Toggling editable details");

    button = document.getElementById("edit-button");

    
    let emailUname = [
      document.getElementById("user_email"),                        // email
      document.getElementById("user_username")                      // uname
    ];

    let emailUnameDefaultVals = [
      "<%= @user.email %>",
      "<%= @user.username %>"
    ];

    let emailUnameLabels = [
      document.getElementById("user_email_label"),                  // emailLabel
      document.getElementById("user_username_label")                // unameLabel
    ];
    
    // fields to hide
    let fields = [
      document.getElementById("user_password"),                     // pass 
      document.getElementById("user_password_confirmation"),        // passConf      
      document.getElementById("user_current_password")              // currentPass
    ];

    // labels
    let labels = [
      document.getElementById("user_password_label"),               // passLabel
      document.getElementById("user_password_confirmation_label"),  // passConfLabel
      document.getElementById("user_current_password_label")        // currentPassLabel
    ];

    let decorators = [
      document.getElementById("submit"),            // submit button
      document.getElementById("separator1"),        // upper <hr>
      document.getElementById("separator2"),        // lower <hr>
      document.getElementById("passwordHelp"),      // password change message
      document.getElementById("confirm")            // need pass to confirm message
    ]

    // are they currently editable?
    if (button.textContent == "Edit details") {
      console.log("Currently hidden. Showing...");
      
      for (var i in fields) {
        labels[i].hidden = false;
        fields[i].hidden = false;
        fields[i].disabled = false;
      }

      emailUname.forEach(field => {
        field.disabled = false;
      });

      for (var i in decorators) {
        decorators[i].hidden = false;
        decorators[i].style.display = "block";
        decorators[i].disabled = false;
      }

      // submitButton.hidden = false;
      // separatorTop.style.display = "block";
      // separatorBottom.style.display = "block";

      button.textContent = "Cancel"
      button.classList.remove("btn-primary");
      button.classList.add("btn-warning");

    } else {
      console.log("Currently shown. Hiding...");
      
      for (var i in fields) {
        labels[i].hidden = true;
        fields[i].hidden = true;
        fields[i].disabled = true;
        fields[i].value = '';
      }
      
      for (var i in emailUname){
        emailUname[i].disabled = true;
        emailUname[i].value = emailUnameDefaultVals[i];
      }

      for (var i in decorators) {
        decorators[i].hidden = true;
        decorators[i].style.display = "none";
        decorators[i].disabled = true;
      }

      // submitButton.hidden = true;
      // separatorTop.style.display = "none";
      // separatorBottom.style.display = "none";

      button.textContent = "Edit details"
      button.classList.remove("btn-warning");
      button.classList.add("btn-primary");
    }
  }
</script>