<%= form_with(model: fmodel, html: {id: "form", class: "d-flex"}) do |form| %>
  <% if fmodel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fmodel.errors.count, "error") %> prohibited this fmodel from being saved:</h2>

      <ul>
        <% fmodel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="left-panel" class="">
    
    <%# title text field %>
    <div class="d-flex" >
      <%= form.label :title, 'Title:', class: "me-2"%>
      <%= form.text_field :title %>
    </div>

    <%# hidden graph json text field %>
    <div>
      <%= form.label :graph, style: "display: none" %>
      <%= form.text_field :graph, style: "display: none" %>
    </div>

    <%# submit button %>
    <div>
      <%= form.submit%>
    </div>
  </div>
  <%# , class: "btn btn-outline-success" %>

  <div id="right-panel" class="w-100">
    <div>
      <%= render "fmodel-graph" %>
    </div>
  </div>

  <script>
    var form = document.getElementById('form');
    
    form.addEventListener('submit', function(event) {
      // event.preventDefault(); // for debugging, remove for deployment
      document.getElementById("fmodel_graph").value = diagram.model.toJson();
    });
  </script>
<% end %>
