<%= form_with(model: fmodel) do |form| %>
  <% if fmodel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fmodel.errors.count, "error") %> prohibited this fmodel from being saved:</h2>

      <ul>
        <% fmodel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
