<%# < style="color: green"><%= notice %>

<div id="fmodels">
  <table class="w-100 table table-sm table-hover">
    <thead>
      <th>Title:</th>
      <th>Created:</th>
      <th>Updated:</th>
      <th></th>
      <th></th>
    </thead>
    <% @fmodels.each do |fmodel| %>
      <tr class="pb-2">
        <td><%=fmodel.title %></td>
        <td><%=fmodel.created_at.strftime(
          "#{fmodel.created_at.day.ordinalize} %B, %Y - %H:%M"
          ) %></td>
        <td><%=fmodel.updated_at.strftime(
          "#{fmodel.updated_at.day.ordinalize} %B, %Y - %H:%M"
          ) %></td>
        <td><%= link_to "Show", fmodel %></td>
        <td><%= link_to "Edit", edit_fmodel_path(fmodel) %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @fmodels,  theme: 'bootstrap-5',
                          pagination_class: "pagination-sm flex-wrap justify-content-center",
                          nav_class: "d-inline-block"
  %>
</div>


<%= link_to "New fmodel", new_fmodel_path %>
