<%# < style="color: green"><%= notice %>

<div id="fmodels">
  <table class="w-100 table table-sm table-hover">
    <thead class="table-light">
      <th scope="col">Title:</th>
      <th scope="col">Created by:</th>
      <th scope="col">Created:</th>
      <th scope="col">Updated:</th>
      <th scope="col" colspan="3" class="align-center">Actions:</th>
      <%# <th scope="col"></th>
      <th scope="col"></th> %>
    </thead>
    <% @fmodels.each do |fmodel| %>
      <tr class="pb-2">
        <td scope="row"><%= fmodel.title %></td>
        <td><%= fmodel.getCreator %></td>
        <td><%= fmodel.formatTime(fmodel.created_at) %></td>
        <td><%= fmodel.formatTime(fmodel.updated_at) %></td>
        <td><%= link_to "Show", fmodel, class: "btn btn-success btn-sm" %></td>
        <td><%= link_to "Edit", edit_fmodel_path(fmodel), class: "btn btn-warning btn-sm" %></td>
        <td><%= link_to "Delete", fmodel_path(fmodel), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @fmodels,  theme: 'bootstrap-5',
                  pagination_class: "pagination-sm flex-wrap justify-content-center",
                  nav_class: "d-inline-block"
    %>
  </div>
</div>