<script>
  // fixes the duplicate headers on the features table by
  // iterating through, checking for duplicates. adjusts
  // rowspan/colspan accordingly.
  function fixTable() {
    var tableHeader = document.getElementById('header');

    var uniqueHeaders = [];
    var uniqueHeaderText = [];
    var duplicateHeaders = [];

    // iterate through all headers to find duplicates
    for (var row of tableHeader.children) {
      var allHeaders = row.children;
      var referenceHeader = allHeaders[0];

      for (var th of allHeaders) {
        // if header already present in table, add to duplicates and hide
        // else add to unique
        if (uniqueHeaderText.includes(th.innerHTML)) {
          duplicateHeaders.push(th);
          th.style.display = "none";
        } else {
          uniqueHeaders.push(th);
          uniqueHeaderText.push(th.innerHTML);
        }
      }
    }

    // iterate through unique headers and compare against dupes to determine
    // rowspan and colspan
    for (var h of uniqueHeaders) {
      var [uniqueName, uniqueRowId] = [h.id.split("-")[0], h.id.split("-")[1] ];
      var [colspan, rowspan] = [1, 1];

      for (var duplicate of duplicateHeaders) {
        var [duplicateName, duplicateRowId] = [duplicate.id.split("-")[0], duplicate.id.split("-")[1]];

        // if name AND rowId match, on same row - increment colspan
        // if name matches but rowId doesn't, on different row - increment rowspan
        if (uniqueName == duplicateName) {
          if (uniqueRowId == duplicateRowId) {
            colspan ++;
          } else {
            rowspan ++;
          }
        }
      }

      h.colSpan = colspan;
      h.rowSpan = rowspan;
    }

    // finally remove all duplicate headers
    for (var th of duplicateHeaders) {
      th.remove();
    }
  }

</script>

<div class="w-100">
  <div>
    <div id="info" style="display: block;">
      <%# display analysis %>
      <div class="d-flex">
        <div id="left-panel-info" class="w-25 mw-25">
          <hr class="">
          <div id="edit-info">
            <p class="mb-1"><strong>Title:</strong> <%= @fmodel.title %></p>
            <% if @fmodel.canModify %>
              <p class="mb-1"><strong>Visibility:</strong> <%= @fmodel.getVisibility %></p>
            <% end %>
            <p class="mb-1"><strong>Author:</strong> <%= @fmodel.getCreator %></p>
            <p class="mb-1"><strong>Created:</strong> <%= formatTime(@fmodel.created_at) %></p>
            <p class="mb-1"><strong>Last updated:</strong> <%= formatTime(@fmodel.updated_at) %></p>
            <% if @fmodel.notes.present? %>
              <p class="mb-1"><strong>Notes:</strong></p>
              <p class="mb-1"><%= @fmodel.notes %></p>
            <% end %>
            <div class="d-flex justify-content-between mt-3">
              <div class="d-flex">

                <div class="dropdown mr-2">
                  <button class="btn btn-success dropdown-toggle" type="button" title="Save options"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-download"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button type="button"  onclick="saveSvg()" id="save-image"
                        class="dropdown-item btn btn-success">
                        <i class="bi bi-filetype-svg"></i> SVG
                      </button>
                    </li>
                    <li>
                      <button type="button"  onclick="saveJpeg()" id="save-jpeg"
                        class="dropdown-item btn btn-success">
                        <i class="bi bi-image"></i> JPEG
                      </button>
                    </li> 
                    <li>
                      <button type="button"  onclick="saveJson()" id="save-json"
                        class="dropdown-item btn btn-success">
                        <i class="bi bi-braces"></i> JSON
                      </button>
                    </li>                
                  </ul>
                </div>

                <%# save as image button %>
                <%# <button type="button"  onclick="saveImage()" id="save-image"
                  class="btn btn-success btn-small mr-2" title="Save as image">
                  <i class="bi bi-image"></i>
                </button> %>
                <% if @fmodel.canModify %>
                <%= button_to(edit_fmodel_path(@fmodel), method: :get,
                      class: "btn btn-warning btn-small", title: "Edit") do %>
                    <i class="bi bi-pencil"></i>
                  <% end %>
                <% end %>
              </div>
              <% if @fmodel.canModify %>
                <div>
                  <%= button_to(@fmodel, method: :delete,
                      class: "btn btn-danger btn-small", title: "Delete") do %>
                    <i class="bi bi-x-lg"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <%# show graph %>
        <div id="right-panel-info" class="w-75 ml-2 left-border">
          <%= render @fmodel %>
        </div>
      </div>
    </div>

    <div id="analysis" style="display: none;">
      <div class="d-flex">
        <div id="left-panel-analysis" class="w-25 mw-25">
          <hr>
          <h5>Analysis:</h5>
          <ul>
            <li><%= @numFeatures %> features:
              <ul>
                <li><%= @numOptional%> optional</li>
                <li><%= @numMandatory%> mandatory</li>
                <li><%= @numAlternative%> alternative</li>
                <li><%= @numOr%> or</li>
                <li><%= @numConstraints %> constraints</li>
              </ul>
            </li>
            <li>Depth: <%= @depth %></li>
            <li><%= @validConfigs.size %> valid configurations</li>
            <li><%= @coreFeatures.size %> core features<% if @coreFeatures.size != 0 %>:
              <ul>
                <% @coreFeatures.each do |c| %>
                <li><%= c.name %></li>
                <% end %>
              </ul>
              <% end %>
            </li>
            <li><%= @voidFeatures.size %> void features<% if @voidFeatures.size != 0 %>:
              <ul>
                <% @voidFeatures.each do |c| %>
                <li><%= c.name %></li>
                <% end %>
              </ul>
              <% end %>
            </li>
          </ul>
        </div>

        <div id="right-panel-analysis" class="w-75 ml-2 pl-3 left-border restrict-height overflow-auto">
          <table class="table table-sm table-border border-dark overflow-auto">
            <thead id="header" class="sticky-top">
              <% if @validConfigs.size == 0 %>
                <tr>
                  <th class="text-center">No valid configurations for this model.</th>
                </tr> 
              <% else %>
                <% for i in 0..@depth-1 do %>
                  <tr>
                    <% @tableHeaders.each do |h| %>
                      <th class="text-center" id="<%= h[i].name %>-<%= i %>"><%= h[i].name %></th>
                    <% end %>
                  </tr>
                <% end %>
              </thead>
              <tbody>
                <% @configsTableFormat.each do |c| %>
                  <tr>
                    <% c.each do |selected|%>
                      <td class="text-center"><%= (selected == 1) ? "\&#10004".html_safe : "" %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
              <% end %>
            <script> fixTable() </script>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    function swapPanel() {
      var infoPanel = document.getElementById('info');
      var analysisPanel = document.getElementById('analysis');
      var button = document.getElementById('button');
      console.log(button);

      if (infoPanel.style.display == "block") {
        console.log("Info visible. Hiding...");
        infoPanel.style.display = "none";
        button.innerHTML = "Show Info";
      } else {
        console.log("Info not visible. Showing...");
        infoPanel.style.display = "block";
        button.innerHTML = "Show Analysis";
      }

      if (analysisPanel.style.display == "block") {
        console.log("Analysis visible. Hiding...");
        analysisPanel.style.display = "none";
        button.innerHTML = "Show Analysis";
      } else {
        console.log("Analysis not visible. Showing...");
        analysisPanel.style.display = "block";
        button.innerHTML = "Show Info";
      }
    }

    function saveSvg() {
      var svg = diagram.makeSvg({ scale: 1, background: "white"});
      var svsstr = new XMLSerializer().serializeToString(svg);
      var blob = new Blob([svsstr], {type: "image/svg+xml"});
      var filename = '<%= @fmodel.title %>.svg';
      downloadCallback(blob, filename);
      console.log("SVG saved!");
    }

    function downloadCallback(blob, filename) {
      var url = window.URL.createObjectURL(blob);

      var a = document.createElement('a');
      a.style = 'display: none';
      a.href = url;
      a.download = filename;

      // IE 11
      if (window.navigator.msSaveBlob !== undefined) {
        window.navigator.msSaveBlob(blob, filename);
        return;
      }

      document.body.appendChild(a);
      requestAnimationFrame(() => {
        a.click();
        window.URL.revokeObjectURL(url);
        document.body.removeChild(a);
      });
    }

    function saveJpeg() {
      var filename = '<%= @fmodel.title %>.jpeg';
      var blob = diagram.makeImageData({
        scale: 1,
        background: "white",
        returnType: "blob",
        callback: function(blob) {
          downloadCallback(blob, filename);
        }
      });
      
    }

    function saveJson() {
      navigator.clipboard.writeText(diagram.model.toJson());
      alert("Copied model to clipboard!");
    }
  </script>
</div>
