<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Name</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="mx-auto">
    <header class="mx-auto d-flex justify-content-between
      border-bottom">
      <div class=""></div>
      <div class="w-75 py-2 d-flex justify-content-between align-items-center">
        <div>
          <h1 class=""><%= @header %></h1>
        </div>
        <div>
          <%= button_to "New", new_fmodel_path, method: :get, class: "btn btn-secondary" %>
        </div>
      </div>
      <div class=""></div>
    </header>
    <main class="w-75 px-5 py-2 mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
